header {
  min-height: 70px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: centre;
  border-bottom: 1px solid #ddd;
  padding: 2rem 0;
}
/* header {
  display: flex;
  justify-content: space-around;
  align
} */

header .logo {
  flex: 1;
}

header a {
  text-transform: uppercase;
  color: #d4ff00;
}

header ul li {
  display: inline-block;
  opacity: 0.7;
  padding: 0 20px;
}

header ul li:hover {
  opacity: 1;
  text-decoration: underline;
}

.menu {
  display: none;
}

.cart-icon {
  position: relative;
  margin-right: 20px;
}
.cart-icon span {
  background: crimson;
  border-radius: 20px;
  color: white;
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 10px;
  padding: 5px 7px;
}
