header {
  min-height: 70px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: centre;
  border-bottom: 1px solid #ddd;
  padding: 2rem 0;
}
/* header {
  display: flex;
  justify-content: space-around;
  align
} */

header .logo {
  flex: 1;
}

header a {
  text-transform: none;
  color: rebeccapurple;
}
header h1 {
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  font-size: 3rem;
}

header ul li {
  display: inline-block;
  opacity: 0.7;
  padding: 0 20px;
  font-size: 1.1rem;
}

header ul li:hover {
  opacity: 1;
  text-decoration: underline;
}

.menu {
  display: none;
}

.cart-icon {
  position: relative;
  margin-right: 20px;
}
.cart-icon span {
  background: crimson;
  border-radius: 20px;
  color: white;
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 10px;
  padding: 5px 7px;
}
