.detail {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3.1rem;
  font-size: 150%;
}

.detail img {
  max-width: 400px;
  width: 100%;
  margin: 20px;
  height: 450px;
  object-fit: fill;
  display: block;
}

.box-detail {
  max-width: 500px;
  width: 100%;
  margin: 5px 20px;
}
.box-detail .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-detail span {
  color: crimson;
}
.box-detail h2 {
  text-transform: uppercase;
  color: #323232;
  letter-spacing: 2px;
  font-weight: 2rem;
}
.box-detail p {
  line-height: 1.5;
  margin: 10px 0;
  opacity: 0.8;
  font-size: 0.7em;
}
.box-detail .cart {
  background-color: #323232;
  color: whitesmoke;
  padding: 0.5rem 2rem;
  margin-top: 10px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}
